:root {
  --pink: #f93188;
  --bg: black;
  --shadow: 0 2px 2px rgb (0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

.hero {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.2rem;
}

.hero a {
  background-color: var(--pink);
  color: white;
  position: relative;
  box-shadow: var(--shadow);
}

.hero::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(img/zz.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: grayscale();
}

.hero a:hover {
  background-color: white;
  color: var(--pink);
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
  color: var(--bg);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar,
.navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "sacramento", cursive;
  font-size: 2.2rem;
  font-weight: bold;
}

.navbar-nav {
  font-family: "work sans", sans-serif;
  font-size: 1.4rem;
}

.mynavbar .navbar-nav {
  text-transform: uppercase;
}

.home {
  background-image: url(img/1667.jpg);
  background-size: cover;
  margin-top: -3rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.home h2 {
  font-size: 5rem;
  color: var(--pink);
  font-weight: bold;
  font-family: "sacramento";
}

.home h3 {
  color: #444;
  font-size: 1.5;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1rem;
  color: #444;
}

.couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
  color: var(--pink);
  font-weight: bold;
}

.couple {
  margin-top: 2rem;
}

.couple img {
  width: 100%;
}

/* style untuk icon heart */
.heart {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  box-shadow: var(--shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(73px);
}

.heart i {
  color: var(--pink);
  margin: auto;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.info h2 {
  color: var(--pink);
  font-size: 5rem;
  font-family: "sacramento";
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
  margin-bottom: 5px;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 1rem;
}

#countdown {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 8px;
}

.simply-section {
  background-color: var(--pink);
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  min-width: auto;
  min-height: auto;
  max-width: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 0 10px #ff4081;
  margin: 3px;
  transition: all 0.3s ease;
}

.simply-amount {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.simply-word {
  font-size: 1rem;
  color: white;
}

/* Media Query */

/* extra large */
@media (max-width: 1200px) {
  .home heart {
    transform: translateX(-50%) translateY(23px);
  }
}

/* laptop*/
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .heart {
    display: none;
  }

  .simply-section {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  .simply-amount {
    font-size: 1rem;
  }

  .simply-word {
    font-size: 0.8rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .simply-section {
    width: 50px;
    height: 50px;
    font-size: 0.9rem;
  }
  .heart {
    display: none;
  }

  .simply-amount {
    font-size: 0.9rem;
  }

  .simply-word {
    font-size: 0.7rem;
  }

  .mynavbar .navbar-nav {
    font-size: 1.3rem;
    text-align: center;
  }
}

/* Mobile Phone */
@media (max-width: 480px) {
  html {
    font-size: 65%;
  }

  .simply-section {
    width: 40px;
    height: 40px;
    font-size: 0.7rem;
    margin: 2px;
  }

  .simply-amount {
    font-size: 0.7rem;
  }

  .simply-word {
    font-size: 0.6rem;
  }

  .home heart {
    display: none;
  }
}
